<web-app>
	<servlet>
		<servlet-name>s1</servlet-name>
		<servlet-class>RegisterController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s1</servlet-name>
		<url-pattern>/RegisterController</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s2</servlet-name>
		<servlet-class>LoginController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s2</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s3</servlet-name>
		<servlet-class>VegController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s3</servlet-name>
		<url-pattern>/veg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s4</servlet-name>
		<servlet-class>VegItemController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s4</servlet-name>
		<url-pattern>/itemdesp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s5</servlet-name>
		<servlet-class>CartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s5</servlet-name>
		<url-pattern>/cartincdesp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s6</servlet-name>
		<servlet-class>NonVegController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s6</servlet-name>
		<url-pattern>/nonveg</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s7</servlet-name>
		<servlet-class>NonVegItemController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s7</servlet-name>
		<url-pattern>/itemnondesp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s8</servlet-name>
		<servlet-class>CartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s8</servlet-name>
		<url-pattern>/cartnondesp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s9</servlet-name>
		<servlet-class>RemoveCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s9</servlet-name>
		<url-pattern>/removecartnondesp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s10</servlet-name>
		<servlet-class>RemoveCartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s10</servlet-name>
		<url-pattern>/removecartdesp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s11</servlet-name>
		<servlet-class>CartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s11</servlet-name>
		<url-pattern>/cartdecdesp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s12</servlet-name>
		<servlet-class>CartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s12</servlet-name>
		<url-pattern>/cartnondecdesp</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>s13</servlet-name>
		<servlet-class>CartController</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>s13</servlet-name>
		<url-pattern>/cartnonincdesp</url-pattern>
	</servlet-mapping>
</web-app>